* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  padding: 0.5rem 0.75rem;
  border: none;
  margin: 1rem 0.5rem;
}
.btn:hover {
  cursor: pointer;
}

body {
  background-color: #272727;
  color: white;
  font-family: "Baloo 2", sans-serif;
}
body section.animation-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
}
body section.animation-wrapper section.animation {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.animation-wrapper section.animation .hero {
  width: 100%;
  height: 0;
}
body section.animation-wrapper section.animation .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.animation-wrapper .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(32, 14, 97), rgb(213, 227, 232));
  z-index: -1;
}
body header nav {
  box-shadow: 0 8px 6px -6px black;
}
body header nav ul {
  display: flex;
}
body header nav ul li {
  padding: 1rem;
}
body header nav ul li a {
  font-size: 1.15rem;
  transition: all 0.3s ease-in-out;
}
body header nav ul li a:hover {
  color: yellow;
}
body main section.main-part {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
body main section.main-part h1 {
  font-size: 3rem;
}
body main section.main-part p {
  font-size: 1.15rem;
}
body main section.main-part div.all-inputs {
  display: flex;
  flex-direction: column;
}
body main section.main-part div.all-inputs form input, body main section.main-part div.all-inputs form select {
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.25px solid rgb(39, 39, 21);
  margin: 0.25rem;
  border-radius: 0.25rem;
}
body main section.main-part div.all-inputs form input.class-credit {
  width: 12%;
}
body main section.main-part div.all-inputs form button {
  border: none;
  cursor: pointer;
  background-color: #272727;
}
body main section.main-part div.all-inputs form button i {
  font-size: 1.25rem;
  pointer-events: none;
  color: white;
}
body main section.main-part div.year-section {
  flex: 1;
  margin: 0 10px;
}
/*body main section.main-part button.plus-btn {
  background-color: #272727;
  border: none;
  width: 2.5rem;
  margin: 3rem 0rem;
  cursor: pointer;
  }*/
body main section.main-part button.plus-btn i {
  font-size: 2.5rem;
  color: white;
}
body main section.main-part div.result {
  width: 200px;
  height: 200px;
  border: 3px solid red;
  border-radius: 50%;
  text-align: center;
  animation-name: border_color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
body main section.main-part div.result p {
  margin-top: 30px;
}
body main section.main-part div.result h2#result-gpa {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}
body main section.main-part div.recommend-result {
  margin-top: 30px;
  width: 450px;
  height: 200px;
  border: 3px solid red;
  border-radius: 50%;
  text-align: center;
  animation-name: border_color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
body main section.main-part div.recommend-result p {
  margin-top: 30px;
}
body main section.main-part div.recommend-result h2#result-group {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
body main section.main-part div.information {
  margin-top: 30px;
  width: 500px;
  height: 200px;
  border-radius: 20%;
  border: 2px solid rgb(74, 93, 237);
  text-align: center;
}
body main section.main-part div.information p {
  margin-top: 30px;
  font-size: 3rem;
}
body main section.main-part div.information h2#result-information {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
body main section.main-part div.information a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
body main section.main-part div.information a:hover {
  background-color: #272727;
  color: yellow;
}
body main section.main-part div.recommend-img {
  margin-top: 30px;
  width: 1900px;
  height: 800px;
  text-align: center;
}
body main section.main-part div.recommend-img p {
  margin-top: 30px;
  font-size: 3rem;
}
body main section.main-part div.recommend-img h2#result-information {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
body main section.main-part div.recommend-img a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
body main section.main-part div.recommend-img a:hover {
  background-color: #272727;
  color: yellow;
}
body main section.main-part div.recommend-img img {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center items */
  align-items: center; /* Horizontally center items */
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

.remove {
  transform: scale(0);
  transition: all 0.2s ease;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes border_color {
  0% {
    border-color: red;
  }
  33% {
    border-color: limegreen;
  }
  66% {
    border-color: yellow;
  }
}/*# sourceMappingURL=style.css.map */
#calculate-gpa {
  font-size: 20px; /* 较大的字体 */
  margin: 9px; /* 居中显示 */
  padding: 10px 20px; /* 增加内边距 */
  background-color: #4CAF50; /* 醒目的背景色 */
  color: white; /* 白色文字 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  cursor: pointer; /* 鼠标悬停时的手形光标 */
}

#calculate-gpa:hover {
  background-color: #45a049; /* 鼠标悬停时的背景色 */
}

body main section.main-part button.plus-btn {
  font-size: 18px; /* 较大的字体 */
  margin: 9px; /* 居中显示 */
  padding: 15px 10px; /* 增加内边距 */
  background-color: #918f4e; /* 醒目的背景色 */
  color: white; /* 白色文字 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  cursor: pointer; /* 鼠标悬停时的手形光标 */
}

body main section.main-part button.plus-btn:hover {
  background-color: #918f4ee3; /* 鼠标悬停时的背景色 */
}

/* 为所有滚动条设置样式
::-webkit-scrollbar {
  width: 12px; /* 滚动条宽度 
}

/* 滚动条轨道 
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道颜色 
}

/* 滚动条滑块 
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 
}

/* 当鼠标悬停在滑块上时 
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滑块悬停颜色 
}
select.class-type {
  max-height: 200px; /* 设置一个最大高度 
  overflow-y: scroll; /* 允许垂直滚动 
} 
*/